<%= form_tag("/users/#{@user.id}/update" , {multipart:true}) do %> 
    <p>ユーザー名</p>
    <input name="name" value="<%= @user.name %>">
    <p>画像</p>
    <input name="profiel_image" type="file">
    <p> メールアドレス</p>
    <input name="email" value="<%= @user.email %>">
    <p>プロフィール</p>
    <input name="introduction" value="<%= @user.introduction %>">
    <input type="submit" value="更新">

<% end %>