<div class="serch-form">
    <%= form_tag("/users/index" , method: :get) do %>
        <input name="serch" class="serch-indent">
        <input type="submit" value="検索">
    <% end %>
</div>

<div class="profiel-index">
    <% @users.each do |user| %>
        <div class="profiel-card">
            <div class="profiel-image">
                <%= link_to image_tag("/user_images/#{user.profiel_image}") , "/users/#{user.id}" %>
            </div>
            <div class="profiel-name">
                <p><%= user.name %></p>
            </div>
            <div class="profiel-introduce">
                <p><%= user.introduction %></p>
            </div>
        </div>
    <% end %>
</div>