<div class="home-container">
    <h1 class='home-sen'>ようこそPISOへ</h1>
    <h2 class="home-sen-sub">自慢のペットをみんなで共有しよう!!</h2>
    <% if @current_user %>
    <% else %>
        <div class="home-login-button">
            <%= link_to "/login" do %>
                <P>ログイン</p>
            <% end %>
        </div>
        <br>
        <div class="home-login-button">
            <%= link_to "/signup" do %>
                <P>新規登録</p>
            <% end %>
        </div>             
    <% end %>
</div>

