<div class="home-container">
    <h1 class='home-sen'>ようこそMiaoWanへ</h1>
    <h2 class="home-sen-sub">ペットの写真をみんなに自慢しよう!!</h2>
</div>

<%# <p>jQuery稼働テスト</p>
<script type="text/javascript">
    $(document).ready(function() {
        $("p").text("jQuery稼働テスト(稼働中)");
    });
</script> %>