<div class="post-new">
    <div class="title-container">
        <h1 class="page-title">投稿編集</h1>
        <%= link_to image_tag("trash.png"),"/posts/#{@post.id}/delete" ,data: { turbo_method: :post, turbo_confirm: "本当に削除しますか？"} , class:"delete-btn"%>
    </div>
    <div class="post-container">
        <%= form_tag("/posts/#{@post.id}/update" , {multipart:true}) do %>
            <input type="file" name="image"  class="post-picture" id="post-img">
            <div id="new-image"><img class="new-img" src="/post_images/<%= @post.image %>"></div>
            <textarea name="content" class="post-body"><%= @post.content %></textarea>
            <br>
            <input type="submit" value="更新" class="post-submit">
        <% end %>
    </div>    
</div>