<h1 class="page-title">投稿編集</h1>
<%= form_tag("/posts/#{@post.id}/update" , {multipart:true}) do %>
    <p>画像</p>
    <input type="file" name="image">
    <input name="content" value="<%= @post.content %>">
    <input type="submit" value="更新">
<% end %>
<p><%= link_to"削除", "/posts/#{@post.id}/destroy" ,data: { turbo_method: :post, turbo_confirm:"本当に削除しますか？"}%></p>