<div class="post-new">
    <h1 class="page-title">新規投稿</h1>
    <%= render "form" %>
    </div>
</div>
<script>
        (()=>{
            document.addEventListener('DOMContentLoaded', () => {
                const createImageHTML = (blob) => {
                const imageElement = document.getElementById('new-image');
                const blobImage = document.createElement('img');
                blobImage.setAttribute('class', 'new-img')
                blobImage.setAttribute('src', blob);

                imageElement.appendChild(blobImage);
                };

                document.getElementById('post-img').addEventListener('change', (e) => {
                const imageContent = document.querySelector('.new-img');
                if (imageContent){
                    imageContent.remove();
                }

                const file = e.target.files[0];
                const blob = window.URL.createObjectURL(file);
                createImageHTML(blob);
                });
            });
        })();
</script>