
body{
    margin: 0;
    header{
        display: flex;
        background-color: rgb(204, 204, 204);
        h2{
            a{
                text-decoration: none;
                color: black;
                }
            }
        ul{
            list-style: none;
            display: flex;
            li{
                list-style: none;
                margin-left: 20px;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
