
body{
    margin: 0;
    padding-top: 62px;
    background-color: #efefef;
    header{
        width: 100%;
        height: 60px;
        display: flex;
        background-color: white;
        position:fixed;
        top: 0;
        left:0;
        border-bottom: 1px solid black;
        margin-bottom: 0;
        .header-container{
            margin:0 auto ;
            text-align: center;
            width: 700px;
            display: flex;
            .header-logo{
                h2{
                    font-size: 45px;
                    font-family: 'Allura', cursive;
                    margin:0;
                    a{
                        text-decoration: none;
                        color: black;
                        }
                    }
            }
            .header-icons{
                margin-left: 100px;
                ul{
                    list-style: none;
                    display: flex;
                    padding-left: 0;
                    height: 60px;
                    margin-bottom:0;
                    margin-top: 0;
                    align-items: center;
                    li{
                        list-style: none;
                        margin-left: 60px;
                        a{
                            text-decoration: none;
                            color: black;
                            &:hover{
                                opacity: 0.5;
                            }
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .flash{
        background-color: #fabbbb;
        text-align: center;
    }
    .no-flash{
        margin-top: 30px;
    }
    .page-title{
        text-align: center;
    }
    .home-container{
        text-align: center;
    }
    .home-login-button a {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #313131;
        transition: 0.3s ease-in-out;
        font-weight: 600;
        background: rgb(255, 255, 255);
        overflow:hidden;
    }
    .home-login-button a:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 500%;
        content: "";
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
        background: #6bb6ff;
        opacity: 0.2;
    }
    .home-login-button a:hover:before {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }


    .serch-form{
        text-align: center;
        .serch-indent{
            width: 30%;
        }
        margin-bottom: 10px;
    }
    .icon-and-name{
        display: flex;
        height: 50px;
        margin-left: 12.5%;
        a{
            margin:0;
            height: 50px;
        }
        img{
            width: 50px;
            height: auto;
        }
        p{
            font-size: 25px;
            height: 25px;
            margin:0;
            padding-left: 25px;
            margin-top: 10px;
        }
    }
    .posts{
        background-color: white;
        width: 75%;
        text-align: center;
        margin-left: 12.5%;
        margin-bottom: 10px;
        border-radius: 30px;
        .post-body{
            img{
                margin-top: 10px;
                width: 75%;
            }
            p{
                text-align: left;
                margin-left: 12.5%;
            }
        }
    }
    .like{
        text-align: left;
        margin-left: 12.5%;
        height: 25px;
        display: flex;
        img{
            width: 25px;
            height: 25px;
        }
        p{
            margin-top: 2px;
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .comments{
        text-align: left;
        margin-left: 12.5%;
    }
    .show-titles{
        display: flex;
        width: 200px;
        margin: 0 auto;
        #show-posts-title{
            background-color: white;
            font-weight: 100;
            margin-right: 20px;
            border: black solid 1px;
            padding: 10px;
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
        #show-likes-title{
            background-color: white;
            font-weight: 100;
            padding: 10px;
            border: black solid 1px;
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }

    .show-posts{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        margin:10px auto;
        .show-post-body{
            width:45%;
            margin-right: 5%;
            img{
                margin-top: 10px;
                width: 100%;
            }
            p{
                text-align: left;
                margin-left: 12.5%;
            }
        }
    }
    .login-form{
        background-color: white;
        width:30%;
        margin:100px auto;
        .login-logo{
            text-align: center;
            padding-top: 25px;
            font-size: 30px;
        }
        .form-body{
            width: 100%;
            .login-input{
                text-align: center;
                .form-input{
                    width: 50%;
                    background-color: rgb(219, 216, 216);
                }
                .form-submit{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
    .show-profiel{
        width: 50%;
        margin:0 auto;
        display: flex;
        .show-profiel-image{
            img{
                width: 200px;
            }
        }
        .show-profiel-right{
            margin-left: 100px;
            .right-name-and-edit{
                display: flex;
                .right-name{
                    font-size: 25px;
                    margin-top: 0px;
                    margin-bottom: 0;
                }
                a{
                    width: 30px;
                    height: 30px;
                    margin-left: 90px;
                    &:hover{
                        opacity: 0.5;
                    }
                    img{
                        width: 30px;
                    }
                }
            }
            .right-seconds{
                margin-top: 15px;
                display: flex;
                .post-count{
                    margin-top: 0;
                    margin-right: 25px;
                }
                a{
                    color: black;
                    text-decoration: none;
                    margin-right: 25px;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }          
        }
    }
    .follow-unfollow{
        .unfollow-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 1em 2em;
            width: 150px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            background-color: black;
            border-radius: 50vh;
            text-decoration: none;
            &:hover{
                opacity: 0.7;
            }
        }
        .follow-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 1em 2em;
            width: 150px;
            color: black;
            font-size: 18px;
            font-weight: 700;
            background-color: white;
            border-radius: 50vh;
            text-decoration: none;
            border: black solid 1px;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .profiel-index{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 50px auto;
        .profiel-card{
            border: 1px solid black;
            width: 30%;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px;
            background-color: white;
            .profiel-image{
                img{
                    width: 100%;
                }
            }
            .profiel-name{
                text-align: center;
                border-top: black 1px solid;
                border-bottom: black 1px solid
                ;
            }
            .profiel-follow{
                margin-top: 8px;
            }
        }
    }
}